{% extends "base/index.html" %}

{% block main %}
<section class="section_listar">
<div class="row">
    <h1>Supermarket</h1>
    <a href="/producto/agregar/">Agregar</a>
    <a href="/cuenta/perfil/">Volver</a>
</div>
<div class="container">
    {% if productos %}
    <table>
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Precio</th>
        </tr>
        </thead>

        <tbody>
            {% for producto in productos %}
                <tr id="{{producto.id}}">
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.precio}}</td>
                    <td>
                    <a href="modificar/{{ producto.id }}" class="waves-effect waves-light btn-small">M</a>
                    <a href="eliminar/{{ producto.id }}" class="waves-effect waves-light btn-small">E</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    {% else %}
      <p>No hay Productos</p>
    {% endif %}
</div>

</section>
{% endblock main %}